.search-bars-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background: #2770B9;
    background: linear-gradient(130deg, rgba(39, 112, 185, 1) 35%, rgba(45, 179, 194, 1) 87%);
    padding: 0 0 2rem 0;
}

.search-city {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.s-c-input {
    width: 90%;
    font-size: 1.1rem;
    height: 1.7rem;
    padding-left: 0.5rem;
    border: none;
    border-radius: 0.3rem;
}

.s-c-input:focus {
    outline: none;
}

.s-c-button {
    border: none;
    background-color: #042447;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 0.4rem;
    padding: 0.35rem 1.5rem;
    cursor: pointer;
}

.cities-display {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.weather-card {
    width: 300px;
}

/* Form */
.form-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
}

.page-title {
    color: #2770B9;
    margin: 0;
    margin-bottom: 1rem;
}

.contact-form {
    padding: 1.8rem 1.5rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 0px rgba(220, 220, 220, 0.7);
}

.form-card {
    position: relative;
    border: solid 0.1rem #e0e0e0;
    border-radius: 0.3rem;
    margin-bottom: 1.5rem;
}

.form-card-title {
    position: absolute;
    margin: 0;
    top: -0.6rem;
    left: 1rem;
    background-color: white;
    padding: 0 0.5rem;
    font-weight: bold;
    color:#2770B9;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 1.5rem;
    padding: 0 1rem;
}

.form-label {
    color: rgb(54, 54, 54);
    margin-bottom: 0.3rem;
}

.form-input {
    border-radius: 0.3rem;
    border: 0.1rem solid #b6b6b6;
    font-size: 18px;
    height: 28px;
    padding-left: 0.5rem;
}

.form-input:focus {
    outline: 0.1rem solid #2770B9;
    border: 0.1rem solid #2770B9;
}

#message {
    height: 100px;
    resize: vertical;
}

.form-card:last-child {
    padding-bottom: 1.5rem; 
    /* Don't know why it doesn't work */
}

.last {
    padding-bottom: 1.5rem;
}

.form-button-container {
    display: flex;
    justify-content: center;
}

.form-button {
    border: none;
    background-color: #042447;
    color: white;
    font-size: 1rem;
    border-radius: 0.3rem;
    padding: 0.35rem 1.5rem;
    cursor: pointer;
}

@media screen and (max-width: 770px) {
    .form-item {
        width: 200px;
    }
}

/* Thank you Page */
#formDataDisplay {
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 0px rgba(220, 220, 220, 0.7)
}

.data-item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.5rem;
    max-width: 600px;
    margin-bottom: 1.5rem;
}

.data-value {
    margin: 0;
    color:rgb(54, 54, 54)
}

.data-name {
    font-weight: bold;
    color: #2770B9;
    padding-left: 0.3rem;
    border-left: 0.3rem solid #2770B9;
}

@media screen and (max-width: 770px) {
    .data-item {
        width: 240px;
    }

    #emailSub {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 770px) {
    .search-city {
        flex-direction: column;
    }

    .cities-display {
        flex-direction: column;
    }
}